@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Активные аукционы</h3>
    <table>
        <tr>
            <th>Компания</th>
            <th>Описание</th>
            <th>Начальная цена</th>
            <th>Начало аукциона</th>
            <th>Рейтинг участника</th>
            <th></th>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.allAuctions)
        {
            <tr>
                <td>@b.OrganizationName</td>
                <td>@b.Description</td>
                <td><p align="right">@b.StartPrice</p></td>
                <td><p align="right">@b.StartDate.ToShortDateString()</p></td>
                <td><p align="right">@b.MinRatingForParticipant</p></td>
                <td><p align="right"><a href="/Home/ShowAuction/@b.AuctionId">Посмотреть аукцион</a></p></td>
            </tr>
        }
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Вас еще нет на сайте?</h2>
        <p>Участие в аукционах приносит много профита бла-бла</p>
        <p><a class="btn btn-default" href="/Home/CreateOrganizationAndCeo">Создайте аккаунт компании &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>